@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    padding:0; 
    margin:0;
}
html{
    font-size: 16px; /*deffing the font size for the page */
    font-family: 'Nanum Gothic', sans-serif;

    
}


nav{
    margin-top: 1rem;
    height: auto;
    display: flex;
    padding-right: 1rem;
    padding-bottom: 1rem;
    justify-content: flex-end;
  
  
    
    
}
.nav-container{
   display: flex;
   align-items: center;
   
   
  
}
nav ul {
    list-style-type: none;

    
}

/* working with the gmail an image on the top right */
nav #links ul{
    display: flex;
       
}



/* working with the image and icon on the top corner */
nav #feature ul {
    display: flex; 
    align-items: center; 
     
    
}

nav #feature li{
    width: 100%;
    height: 100%;

    padding-right: 1rem;
    border-radius: 50%;
    
    
}
nav #feature{
    width:fit-content;

    
}


.img{
    
    width:2em;
    height: 2rem; 
    border-radius: 50%;
    
    
}



/*with the anchore tag of navigation */
a{
    text-decoration: none;
    color:black;
    padding-left: 1rem;  /*gap betwen the text image and icone*/ 
    
}

/*working with hover effect of nav */
nav #links li:hover{
    text-decoration: underline;
}

nav #feature li:hover{
    animation-name: color;
    animation-iteration-count: 1;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    
    
}

@keyframes color {
   
    100%{
        background-color: rgba(65, 63, 63, 0.2);
        border-radius: 50%;

    }
}